name: Go Test & Detailed Report

on:
  push:
    branches: [ main ]
  pull_request:

jobs:
  test:
    runs-on: ubuntu-latest

    steps:
      - name: Checkout repository
        uses: actions/checkout@v3

      - name: Set up Go
        uses: actions/setup-go@v4
        with:
          go-version: 1.25

      - name: Run Go tests and export JSON
        run: |
          mkdir -p results
          go test -v ./lru_simple/... -json > results/test-results.json

      - name: Generate detailed test report (dorny/test-reporter)
        uses: dorny/test-reporter@v2
        with:
          name: "Go Tests"
          path: results/test-results.json
          reporter: golang-json
          use-actions-summary: "true"
